@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

body {
  text-align: center;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 2rem;
  background-color: #2E3961;
  color: white;
}

a, a:visited {
  color: white;
  text-decoration: none;
}

.projects {
  width: 1110px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.project {
  position: relative;
  width: 155px;
  height: 155px;
  display: grid;
  place-items: center;
  background-color: #E8234D;
  border-radius: 5px;
  box-shadow: 4px 4px 10px 2px black;
  text-shadow: 1px 1px 2px black;
  font-size: 2.5rem;
  transition: ease-out .2s;
}

.project img {
  width: 150px;
  height: 150px;
  top: 2px;
  left: 2px;
  position: absolute;
  
  border-radius: 20px;
}

.project:hover {
  transform:
  scale(1.12)
  rotate(8deg);
}

.project:hover img {
  transition: .2s;
  transform: scaleX(0);
  transform-origin: left;
}

.portfolioLink {
  color: #E8234D !important;
}

.portfolioLink:hover {
  text-decoration: underline;
  font-size: 2.5rem;
  transition: .2s;
}

@media (max-width: 800px) {
  .projects {
    width: 100%;
    place-items: center;
    grid-template-columns: 1fr;
  }
}