@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
  background-color: #262529;
}

.container {
  width: 830px;
  height: 577px;
  background-color: #262529;
  box-shadow: 0 0 250px 0 black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.dolla {
  font-size: 65px;
  margin-right: 5px;
  font-weight: 700;
}

.price {
  display: flex;
  color: #ffc700;
  font-size: 93px;
  font-weight: 700;
}

.buyNow {
  width: 333px;
  height: 110px;
  font-size: 30px;
  border: none;
  background-color: #333139;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  border-radius: 100px;
  letter-spacing: 7px;
}

.slider {
  position: relative;
  width: 700px;
}

.slide {
  appearance: none;
  height: 14px;
  display: block;
  width: 100%;
  outline: none;
  background: none;
  width: 700px;
  height: 15px;
  background: linear-gradient(to right, #EA346F 50%, #4D4C53 50% 100%);
  border-radius: 10px;
  z-index: 5;
}

.slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 50px;
  height: 50px;
  background: #EA346F;
  border-radius: 50%;
  appearance: none;
  box-shadow: 0 0 0 10px rgb(234, 52, 111, .2);
  z-index: 5;
}